* {
  padding: 0;
  margin: 0;
}

.encabezado {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #bbc1ca;
  align-items: center;
}
.titulo {
  display: flex;
  margin-left: 200px;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.logoImg {
  height: 20px;
  margin-left: 15px;
  margin-top: 5px;
  padding: 5px;
}

body {
  background-color: #e5e5e5;
}

.seciones {
  height: 250px;
  display: flex;
  justify-content: space-between;
}

input {
  width: 200px;
}

.seccion1 {
  padding: 15px;
  margin-right: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seccion2 {
  width: 40%;
  height: 50x;
  display: flex;
  margin-left: 15px;
  padding: 15px;
  justify-content: space-between;
  align-items: end;
}

.sec1Btn {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  width: 90px;
  padding: 2px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  text-align: center;

  color: #0a3871;
}

.contendorImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 90%;
}

.textImg{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
}

.cajatexto{
    display: none;  
}

.btncopiar {
  display: none;
  align-content: space-evenly;
  height: 25px;
  width: 50px;
  padding: 2px;
  margin: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  text-align: center;

  color: green;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #bbc1ca;
}
